:root {
	--color--primary: #670680;
	--color--secondary: #001569;
	--color--accent: #6e0f00;
	--bg--grey: grey;
	--bg--lightgrey: lightgrey;
}

/* FONTS */

* {
	font-family: 'Josefin Sans', Arial, sans-serif;
}

.nav-link {
	font-family: 'Oswald', Times, serif;
	font-weight: 700;
}

/* NAVIGATION */

header img {
	width: 10vw;
	max-width: 150px;
	min-width: 70px;
}

/* FONT SIZES */

nav .material-symbols-outlined {
	font-size: 3rem;
}

nav .nav-link,
#header__search .icon--search {
	font-size: 1.5em;
}

@media screen and (max-width: 767px) {
	nav .nav-link,
	#header__search .icon--search {
		font-size: 1.2em;
	}
}

/* ICONS */

/* COLOURS */

header {
	background-color: whitesmoke;
}

nav .nav-link {
	color: var(--color--primary) !important;
}

.icon--search,
.material-symbols-outlined {
	color: var(--color--primary);
}
