:root {
	--color--primary: #670680;
	--color--secondary: #001569;
	--color--accent: #6e0f00;
	--bg--grey: grey;
	--bg--lightgrey: lightgrey;
}

/* FONTS */

* {
	font-family: 'Josefin Sans', Arial, sans-serif;
}

.nav-link {
	font-family: 'Oswald', Times, serif;
	font-weight: 700;
}

/* NAVIGATION */

header img {
	width: 10vw;
	max-width: 150px;
	min-width: 70px;
}

/* HERO */

#section__hero {
	background-image: url('../img/hero_img_bg.jpg');
	background-size: cover;
	height: 80vh;
}

#section__hero .hero--decoration {
	position: relative;
	top: 50%;
}

#section__hero .hero--textbox .hero--decoration {
	position: static;
	top: 0%;
}

/* FONT SIZES */

nav .material-symbols-outlined {
	font-size: 3rem;
}

nav .nav-link,
#header__search .icon--search {
	font-size: 1.5em;
}

@media screen and (max-width: 767px) {
	nav .nav-link,
	#header__search .icon--search {
		font-size: 1.2em;
	}
}

/* ICONS */

/* COLOURS */

header,
#section__hero .hero--textbox {
	background-color: whitesmoke;
}

.hero--textbox,
nav .nav-link {
	color: var(--color--primary) !important;
}

.icon--search,
.material-symbols-outlined {
	color: var(--color--primary);
}

#section__hero .hero--decoration {
	border-top: 1rem solid var(--color--primary);
}

#section__hero .hero--textbox .hero--decoration {
	border-top: 0.2rem solid var(--color--primary);
}
